@import 'Article';
@import 'icon-file';
@import 'list';
@import 'download-link';
@import 'flag';
@import 'product-list';
@import 'product-wizard';
@import 'button-nav';
@import 'card';
@import 'section-nav';
@import 'accordion';
@import 'features';
@import 'markets-nav';
@import 'DrawerNav';
@import 'StickySubnav';
@import 'table';
@import 'markets-list';
@import 'toggle-switch/toggle-switch';
@import 'Cover';
@import 'Panel';
@import 'Sitemap';
@import 'NextPost';

// Image hotspots plugin
@import 'image-hotspots';

@import 'document-lists';

@import 'header';
@import 'footer';

@import 'main-menu';
@import 'search';
@import 'gravityforms';
@import 'hero';
@import 'breadcrumbs';
@import 'burger';
@import 'buttons';
@import 'timeline';
@import 'pie-chart';
@import 'shareholders';
@import 'cision';
@import 'person';
@import 'contact';
@import 'manamind';

// headers
@import 'page-header';
@import 'product-header';

@import 'galaxy';
@import 'section';
@import 'data-row';

// advanced components
@import 'panelizer/all';
@import 'hydrogen/all';
@import 'hydrogen-sm/all';
@import 'FormPopup';

@import 'tabs';

ul.position-list {
  margin-bottom: 1rem;
  li {
    margin-bottom: 1rem;
    img.flag {
      margin-left: 5px;
      height: 11px;
      width: auto;
      position: relative;
      top: -1px;
    }
  }
}
