.Article {
  padding-top: rem-calc(100);
  @include breakpoint(large) {
    padding-top: rem-calc(200);
  }

  &__header {
    text-align: center;
  }

  &__intro {
    margin-top: rem-calc(20);
    @include font-size(h4);
  }

  &__breadcrumb {
    margin-bottom: rem-calc(10);
  }

  &__title {
    margin-bottom: rem-calc(0);
  }

  &__meta {
    margin-top: rem-calc(10);
  }

  &__image {
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(40);
    }
  }

  &__icon {
    margin: 0 auto;
    max-width: rem-calc(100);
    margin-bottom: rem-calc(20);
    @include breakpoint(xlarge) {
      max-width: rem-calc(120);
    }
  }

  &__content {
    margin-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    @include breakpoint(large) {
      margin-top: rem-calc(75);
      padding-bottom: rem-calc(100);
    }
  }

  &__footer {
    text-align: center;
    display: none;
    margin-top: rem-calc(50);
  }
}

//
// Modify article content if it's loaded inside an popup
//
.mfp-content .Article {
  background: $white;
  position: relative;
  margin: rem-calc(20);
  border-radius: 5px;
  padding-top: rem-calc(25);

  @include breakpoint(medium) {
    padding-top: rem-calc(50);
    margin: rem-calc(50);
  }
  @include breakpoint(large) {
    padding-top: rem-calc(100);
    margin: rem-calc(100);
  }
  &__footer {
    display: block;
    padding-bottom: rem-calc(40);
  }
}
