.pie-chart {
	
	width: 100%;
	height: auto;
	position: relative;

	.center-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		.percent {
			font-size: 40px;
		}
	}

	svg {
		width: 100%;
		height: auto;
		position: relative;
		path {
			stroke: $secondary-color;
			stroke-width: 1px;
			cursor: pointer;
		}

		text {
			fill: $white;
			font-size: 24;
		}

	}
}