<header class="Article__header container">
  <div class="row columns">
    <h1 class="Article__title">{{title}}</h1>
    {{#excerpt}}
    <div class="Article__intro">{{{excerpt}}}</div>
    {{/excerpt}}
  </div>
</header>