<header class="container page-header medium-text-center">
  <div class="row align-center">
    <div class="columns medium-text-center large-10 xlarge-8">
      {{#header_meta}}
        <div class="page-header__meta meta">{{{header_meta}}}</div>
      {{/header_meta}}
      <h1 class="Article__title">{{{title}}}</h1>
      {{#intro}}
      <div class="Article__intro">{{{intro}}}</div>
      {{/intro}}
    </div>
  </div>
</header>