<section class="Section">
  <header class="Section__header">
    <h2 class="Section__title">{{title}}</h2>
    <div class="Section__desc">{{desc}}</div>
  </header>
  <article class="Section__content">
    {{content}}
  </article>
</section>